{% extends "card/base_login.html" %}

{% block content %} 

{% if form.errors %}  

    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        </button>
        <p> You password and username didn`t match. Please try again </p>
    </div>
{% endif%}


{% if next %} 

    {% if user.is_authenticated %} 
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
            <p>Your acount doesn`t have access to this page. To proceed, please login with a account that has access</p>
        </div>
    {% else %}
            <div class="alert alert-warning">
                <p>Please login to see this page</p>
            </div>
    {%endif%}

{% endif%}


<form  method="post" action="{% url 'login' %}" class="formulario">       
    {% csrf_token %}

    <div class="formulario-campo">
        <div class="form-group">
            <label for="{{form.username.id_for_label }}">
                {{form.username.label_tag}}
            </label>
            <div class="form-group">
                {{form.username}}
            </div>
        </div>

        <div class="form-group">
            <label for="{{form.password.id_for_label}}" id="formulario-login-text-password">
                {{form.password.label_tag}}
            </label>
            <div class="form-group">
                {{form.password}}
            </div>
        </div>
        <div class="form-login-links">
            <input type="submit" value="login" class="btn btn-primary">
            <input type="hidden" name="next" value="{{ next }}">
        </div>

</form>


{% endblock%}